/*.aboutpicture {
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}*/




