{% load static %}  

{% block header %}
{% include 'menucard/layout/navbar.html' %}
{% endblock %}

<div class="aboutpicture">
    <img src="{% static 'images/about.jpg' %}" alt="about" class="img-fluid">
</div>


<div class="jumbotron">
    <h1 class="display-5">About us</h1>
    <h1 class="display-4">Generic Restaurant Pvt. Ltd.</h1>
    <p class="lead">We welcome you to sit back, unwind and appreciate the lovely sights and hints of the ocean while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients. Generic Company's legacy comes from The Old Generic Restaurant itself which was built up in 1963.
    </p>
    <p class="lead">Generic Restaurant has worked for people in general and has advanced into a combination between exquisite chic and contemporary fine charge.</p>
    <hr class="my-4">
    <p>Enjoy our dazzling dishes and make the most of your eating background with us!</p>
    <p>Dont forget to rate and post your reviews about us. </p>
    <p class="lead">
      <h4> For further enquiries </h4>
      <a class="btn btn-primary btn-lg" href="https://mail.google.com" role="button">Email us at Hotel@besthotel.com</a>
    </p>
  </div>