<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Food Order</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
    <script src="{% static 'bootstrap.min.js' %}"></script>  
    <script>alert("BLank")</script>
</head>  
<body>
NOTHING HERE

</body>  
</html>  