{% load static %}  


{% block header %}
{% include 'menucard/layout/navbar.html' %}
{% endblock %}


<a class="btn btn-success btn-lg btn-block" href="../showmain3" role="button">Orders Completed today</a>
<br>
<a class="btn btn-secondary btn-lg btn-block" href="../showmain2" role="button">Orders in progress</a>
<br>
<a class="btn btn-primary btn-lg btn-block" href="../showmain4" role="button">Orders prepared</a>
<br>
<a class="btn btn-danger btn-lg btn-block" href="../showmain" role="button">New Orders</a>
<br>