{% load static %}  


{% block header %}
{% include 'menucard/layout/navbar.html' %}
{% endblock %}




<div class="jumbotron">
    <h1 class="display-4">New orders:  </h1>
    <p class="lead">{{last_order.name}}'s order of {{last_order.fooditem}} at {{last_order.datetime}}</p>
      <a class="btn btn-primary btn-lg" href="../main" role="button">Go to homepage</a>
    </p>
  </div>
